* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

#clock,
#network,
#battery,
#custom-audio,
#bluetooth,
#backlight,
#cpu,
#mpris {
  background: #000000; /* Black background */
  color: #ffffff; /* White text for contrast */
  margin-right: 4px;
  padding: 2px 8px; /* Add padding for spacing */
  border-radius: 4px; /* Optional: Rounded corners */
  opacity: 0.9; /* Slight transparency */
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  padding: 2px 8px;
}

#battery.critical {
  background: #000000;
}

#network.disconnected {
  background: #1f1f1f;
  color: red;
}

#tray {
  background: #1f1f1f;
  color: #ffffff;
  margin-left: 18px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  background: #1f1f1f;
  color: #ffffff;
}

#tray > .needs-attention {
  background: #1f1f1f;
  color: #ffffff;
  box-shadow: none;
  border: none;
  outline: none;
}

window#waybar {
  background: transparent;
  border-bottom: 1px solid #332b2b;
  transition-duration: 0.2s;
  transition-property: background-color;
}

#workspaces button:hover {
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  background: @background;
  border-bottom: 1px solid #ffffff;
  box-shadow: inherit;
  color: #ffffff;
}

#workspaces button {
  background: transparent;
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.7;
}

#workspaces button.focused {
  background: #453e3d;
  color: #ffffff;
  opacity: 0.8;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* Custom Stuff */
#custom-hostname {
  background: transparent;
  color: #ffffff;
  padding: 2px 8px;
  opacity: 0.7;
}
